.content{
	.games-list{
		.img-container{
			width: 140px;
			margin-right: 20px;
			&:after{
				padding-bottom: 100%;
			}
		}
		.game-info{
			position: relative;
			width: calc(100% - ( 140px + 20px));
			h4{
				margin-bottom: 10px;
			}
			button{
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
		li{
			margin-bottom: 20px;
		}
	}
	.categories{
		li{
			line-height: 2;
			font-size: 16px;
			font-weight: 700;
		}
		& + button{
			margin-top: 20px;
		}
	}
}