@import '../styles/_variables.scss';
.game-details {
    margin-left: 20px;
}

@media only screen and (max-width: $tablet) {
	.game-container{
		.flex{
			flex-wrap: wrap;
			justify-content: center;
		}
		.game-details{
			margin-top: 15px;
		}
	}
}

@media only screen and (max-width: $mobile) {
	#game-launch{
		iframe{
			max-width: 100%;
		}
	}
}