@import 'variables.scss';
img{
	max-width: 100%;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
*{
	box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.flex-center{
  justify-content: center;
}
.flex{
  display: flex;
}
.pull-right {
  float: right;
}
.clear-fix {
  clear: both;
  display: block;
  overflow: hidden;
}
.error{
  color: $errorRed;
}
.page-container{
  background-color: $dashboardBackground;
  min-height: 100vh;
}
/* better performance by preventing reflows when image loads - allocate a specified space based on aspect ratio for the image before it loads */

.img-container{
  position: relative;
  img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  &:after{
    content: ' ';
    display: inline-block;
    width: 100%;
  }
}

.ui.grid.page-container{
  padding-bottom: 40px;
}
.ui.grid.content{
  padding: 40px;
  background: $dashboardBackgroundWhite;
}
.content{
  .user{
    .img-container{
      width: 50px;
      img{
        border-radius: 50%;
      }
      &:after{
        padding-bottom: 100%;
      }
    }
    .info{
      margin-left: 20px;
      h2{
        margin-bottom: 0;
      }
    }
  }
  .ui.button.logout{
    margin-top: 20px;
  }
  h2.title {
      border-bottom: 2px solid #eee;
      padding-bottom: 10px;
      margin-bottom: 20px;
  }
}
