@import 'variables.scss';

body{
	font-family: 'Roboto';
}
img{
	max-width: 100%;
}
*{
	box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.flex-center{
  justify-content: center;
}
.flex{
  display: flex;
}
.pull-right {
  float: right;
}

.clear-fix {
  clear: both;
  display: block;
  overflow: hidden;
}
.error{
  color: $errorRed;
}

.img-container{
  position: relative;
  img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}